// file.scss
.cellBase {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 2.85rem;
  
  user-select: none;
  transition: 140ms ease;
  border-radius: 0.2rem;
}

.cursorPointer {
  cursor: pointer;

  &:hover {
    background-color: #e9eaee;
  }

  &:active {
    background-color: #e5e7eb;
  }
}

.isActive {
  color: white;
  background-color: var(--accent1);

  cursor: pointer;
}

.disabled {
  color: rgb(0, 0, 0, 0.3);
}