$height: 33rem;

.main {
  display: grid;
  grid-template-columns: 32% 68%;
  
  width: 64.5rem;
  min-height: $height;
  max-height: $height;
  padding: 0 0 0 var(--padding);

  box-shadow: 0 0.25rem 8.125rem rgb(0, 0, 0, 0.18);
  border-radius: 0.39rem;
}




// Calendar - right side
.cont {
  justify-content: space-between;
  max-height: $height;
  overflow-y: auto;

  position: relative;
  padding: var(--padding);

  /* width */
  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
    border-radius: 50rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f; 
  }
}

// First stage
.cont1 {
  display: grid;
  grid-template-columns: 56% 44%;

  padding: var(--padding) var(--padding) var(--padding) calc(var(--padding) - 0.7rem);
}




// Times
.times {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50% 50%);
  margin: 0 0 0 2rem;
  max-height: calc($height - var(--padding) * 2);
  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c2c2c2; 
    border-radius: 50rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #9f9f9f; 
  }

  li {
    list-style-type: none;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 6rem;
      height: 2.815rem;
      margin: 0.3rem;

      font-size: 1rem;
      cursor: pointer;
      background: transparent;
      border: 0.0625rem solid var(--accent2);
      border-radius: 0.3rem;
      color: var(--accent2);
      font-weight: 600;
      transition: 210ms ease;

      &:hover {
        background: var(--accent2);
        color: #fff;
      }
    }
  }
}