.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--padding) 0;

  border-right: 0.0625rem solid #D9D9D9;

  h5 {
    margin: 1.75rem 0 0 0;

    font-size: 0.8rem;
    font-weight: 400;
    color: var(--accent1);
  }

  h1 {
    margin: 0.19rem 10% 0 0;

    font-size: 1.5rem;
    font-weight: 500;
    color: var(--second);
    line-height: 118%;
    letter-spacing: -0.08rem;
  }
  
  // Logo
  .logo {
    width: 7.13rem;
    height: 2.38rem;
    position: relative;
  }

  // Steps
  ul {
    // max-height: 7.6rem;
    // overflow-y: auto

    margin: 1.58rem 0.7rem 0 0;

    li {
      margin: 0.5rem 0 0 0;
      
      list-style-type: none;
      font-size: 0.85rem;
      color: rgb(0, 0, 0, 0.4);
      cursor: default;

      &[data-active='true'] {
        color: var(--accent4);
        font-weight: 500;
      }
    }

    /* width */
    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c2c2c2; 
      border-radius: 50rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #9f9f9f; 
    }
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;

  a {
    width: fit-content;
    margin: 0 0 0.3rem 0;

    font-size: 0.83rem;
    text-decoration: none;
    color: #666666;

    &:last-child {
      margin: initial;
    }

    &:hover {
      color: var(--accent1);
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 1024px) {

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: var(--padding) var(--padding);
  
    border-right: none;
  
    h5 {
      margin: 1.9rem 0 0 0;
  
      font-size: 0.85rem;
      font-weight: 400;
      color: var(--accent1);
    }
  
    h1 {
      margin: 0.19rem 10% 0 0;
  
      font-size: 1.75rem;
      font-weight: 500;
      color: var(--second);
      line-height: 118%;
      letter-spacing: -0.08rem;
    }
    
    // Logo
    .logo {
      width: 7.13rem;
      height: 2.38rem;
      position: relative;
    }
  
    // Steps
    ul {
      // max-height: 7.6rem;
      // overflow-y: auto
  
      margin: 1.7rem 0.7rem 0 0;
  
      li {
        margin: 0.5rem 0 0 0;
        
        list-style-type: none;
        font-size: 0.92rem;
        color: rgb(0, 0, 0, 0.4);
        cursor: default;
  
        &[data-active='true'] {
          color: var(--accent4);
          font-weight: 500;
        }
      }
  
      /* width */
      &::-webkit-scrollbar {
        width: 0.4rem;
      }
  
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #c2c2c2; 
        border-radius: 50rem;
      }
  
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #9f9f9f; 
      }
    }
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;

    margin: 2.5rem 0 0 0;
  
    a {
      width: fit-content;
      margin: 0 0 0.3rem 0;
  
      font-size: 0.83rem;
      text-decoration: none;
      color: #666666;
  
      &:last-child {
        margin: initial;
      }
  
      &:hover {
        color: var(--accent1);
        text-decoration: underline;
      }
    }
  }

}